name: Go Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: '1.25'

    - name: Build binary
      run: go build -o git-sequential-stage

    - name: Test binary functionality
      run: |
        ls -la git-sequential-stage
        ./git-sequential-stage -h
