name: Go Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
      with:
        go-version: '1.26'

    - name: Build binary
      run: go build -o git-sequential-stage

    - name: Test binary functionality
      run: |
        ls -la git-sequential-stage
        ./git-sequential-stage -h
