name: Quality Check

on: push

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version: '1.25'

    - name: Check Go formatting
      run: test -z "$(gofmt -l .)"

    - name: Check Go simplifications
      run: test -z "$(gofmt -s -l .)"

    - name: Go vet
      run: go vet ./...

    - name: Go mod verify
      run: go mod verify
