name: Quality Check

on: push

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: '1.25'

    - name: Check Go formatting
      run: test -z "$(gofmt -l .)"

    - name: Check Go simplifications
      run: test -z "$(gofmt -s -l .)"

    - name: Go vet
      run: go vet ./...

    - name: Go mod verify
      run: go mod verify
